<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Your Todos</h3>
  </div>
  <div class="panel-body">
    <ul id="todo-list" class="list-group">
      <li class="list-group-item">
        <div class="form-group">
          <label class="sr-only" for="filter">Filter Todos</label>
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            {{input value=filter class="form-control" key-up=(action 'autoFilter' filter)}}
          </div>
        </div>
      </li>
      {{#each todos as |todo|}}
        {{todo-list-elem todo=todo}}
      {{/each}}
      <li class="list-group-item">
        {{input value=newTodo class="form-control text-center" placeholder="write something..." key-up=(action 'addTodo')}}
      </li>
    </ul>
    <div class="text-center">
      <button {{action "addTodo" "addButton"}} class="btn btn-info"><i class="fa fa-plus"></i></button>
    </div>
  </div>
</div>
