<div class="container">
  <div class="jumbotron mar-top">
    <h1>The best Todo App</h1>
    <p>Built with <a href="http://emberjs.com">EmberJS</a> and <i class="fa fa-heart"></i></p>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Your Todos</h3>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">Buy bread</li>
            <li class="list-group-item">Be a better developer</li>
            <li class="list-group-item">Learn emberjs</li>
          </ul>
          <div class="text-center">
            <button class="btn btn-info"><i class="fa fa-plus"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{outlet}}
