<div class="container">
  <div class="jumbotron">
    <h1>The best Todo App</h1>
    <p>Built with <a href="http://emberjs.com">EmberJS</a> and <i class="fa fa-heart"></i></p>
  </div>
</div>

{{outlet}}
